{% extends 'user/base.html' %}


{% block content %}

{% if form.errors %}
ユーザー名とパスワードが一致しましたん
{% endif %}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <title>書籍情報管理システム | ログイン</title>
    </head>
    <body class="text-center" style="background-color: aliceblue;">
        <div class="alert alert-danger" role="alert" th:if="${param.error}">
           
        </div>
        <div class="alert alert-primary" role="alert" th:if="${param.logout}">
           
        </div>
        <h1 class="h3 mt-2 mb-3 font-weight-normal">ログイン画面</h1>
        <form class="w-25 mx-auto" th:action="@{/login}" method="post">
           	<label for="username" class="sr-only"></label>
           	
            <!-- 編集 -->
            {% csrf_token %}

            <input type="text"
            name="username"
            id="username"
            placeholder="ユーザー名"
            required autofocus>

            <input type="password"
            id="password"
            name="password"
            placeholder="パスワード"
            required>

           	<input class="btn btn-outline-primary my-1" type="submit" value="Sign In"/>
        </form>
        <p class="mt-2 mb-3 text-muted">&copy; 2023</p>
    </body>
</html>


{% endblock %}