.box {
    display: block;
    border: solid;
    background-color: white;
    opacity: 0.7;
    width: max-content;
    margin: auto;
    color: black;
    padding: 5px;
    font-family: 'Arial Unicode MS';
    text-indent: 1em;
    text-transform: capitalize;
    

}

.boxb {
    display: block;
    border: solid;
    background-color: darkgray;
    opacity: 0.7;
    width: max-content;
    margin: auto;
    color: black;
    padding: 5px;
    margin-top: 10px;
    font-weight: bold;
}

img {
    object-fit: contain;
}


