{% extends 'book/base.html' %}

{% block content %}



{% if user.is_authenticated %}

<div style="text-align: center;">

    <h4>{{user.username}}さんのマイページ</h4>
    {% if object_list.count == 0 %}
    <p>{{user.username}}さんの投稿はありません</p>
    {% else %}
    <p>投稿<strong>{{object_list.count}}</strong>件</p>
    {% endif %}

    
</div>
<hr>
{% endif %}


{% for book in object_list %}

<a href="{% url 'book:detail' book.pk %}">{{book.book_title}}</a>
<br>{{book.get_document_type_display}}
<br>{{book.get_stars_display}}
{% if book.image %}
<p><img style="object-fit: contain;" src="{{ book.image.url }}" alt="書物の表紙" width="500" height="500"></p>
{% endif %}

<mark>
<a href="{% url 'book:update' book.pk %}">編集</a>
<a href="{% url 'book:delete' book.pk %}">削除</a>
</mark>


<hr>

{% endfor %}

{% if is_paginated %}

<ul class="pagination" style="justify-content: center;">

    {% if page_obj.has_previous %}
    <li class="page_item">
        <a class="page-link" 
        href="?page={{ page_obj.previous_page_number }}"
        aria-label="preview">
        <span aria-hidden="true">&laquo;</span>
    </a>
    </li>
    {% endif %}

    {% for num in paginator.page_range %}

    {% if page_obj.number == num %}
        <li class="page_item active">
            <span class="page-link">{{ num }}</span>
        </li>

    {% else %}
    <li class="page_item">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
    </li>
    {% endif %}

    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-item" 
        href="?page={{ page_obj.next_page_number }}"
        aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
    {% endif %}

</ul>
{% endif %}



{% endblock %}